# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next
.next
out

# misc
.DS_Store
*.pem
.env
.env*.local
mobile/.build-version.json
downloads/android/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/uploads/*

public/uploads/asset-files/*